h2 {
    font: italic 5em fantasy
}

button {
    background-color: lightgreen;
    font: italic 2em fantasy;
}

body {
    background-image: url("file:///C:/Manju/College/2nd%20semester/ISQA%203900-851%20Web%20Application%20Development/Week%201/Assignment/Bg1.jpg");
}

img {
    position: absolute;
    left: -10px;
    bottom: 0;
}