h2 {
    font: italic 5em fantasy
}

button {
    background-color: lightgreen;
    font: italic 2em fantasy;
}

body {
    background-image: url("https://img4.goodfon.com/original/1920x1080/b/70/butony-rozy-rozovye-roses-wood-pink-beautiful-tsvety-flowers.jpg");
}

img {
    position: absolute;
    left: -10px;
    bottom: 0;
}