h2 {
    font: italic 5em fantasy
}

button {
    background-color: lightgreen;
    font: italic 2em fantasy;
}

body {
    background-image: url('bg1.jpg');
}

img {
    position: absolute;
    left: -10px;
    bottom: 0;
}